#grid {
	-fx-background-image: url("../pictures/giphy.gif");
	-fx-background-size: cover, auto;
	-fx-background-repeat: no-repeat;
}

#btn {
	/* -fx-padding: 100 100 100 100; */
	-fx-pref-width: 200.0px;
	-fx-pref-height: 75.0px;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 20.0px;
	/* -fx-effect: dropshadow(gaussian, maroon, 25, .3, 10, 10);*/
-fx-background-radius: 10.0;
	-fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, rgba(255.0, 0.0, 0.0, 9.0),
		rgba(255.0, 255.0, 255.0, 0.75) 40.0%, rgba(255.0, 255.0, 255.0, 0.75) 60.0%,
		rgba(255.0, 0.0, 0.0, 0.9) 100.0%);
}

#btnEnter {
	-fx-pref-width: 200.0px;
	-fx-pref-height: 75.0px;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 20.0px;
	/*-fx-effect: dropshadow(gaussian, #6e0000, 25, .3, 10, 10);*/
-fx-background-radius: 10.0;
	-fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, rgb(200.0, 0.0, 0.0),
		rgba(200.0, 200.0, 200.0, 0.75) 40.0%, rgba(200.0, 200.0, 200.0, 0.75) 60.0%,
		rgba(200.0, 0.0, 0.0, 0.9) 100.0%);
}

#comboBox {
	
	-fx-min-width: 350.0;
	-fx-min-height: 33.0;
	-fx-font-size: 20.0px;

}

.label{
	-fx-font-size: 25.0px;
 	-fx-font-family: "Arial Rounded MT Bold";

}

.alert {
    -fx-background-image: url("../pictures/giphy.gif");
	-fx-background-size: cover, auto;
	-fx-background-repeat: no-repeat;
	-fx-graphic: url("../pictures/secretsantasmall.png");
}

.alert:header .header-panel {
    -fx-background-image: url("../pictures/giphy.gif");
	-fx-background-size: cover, auto;
	-fx-background-repeat: no-repeat;
    -fx-font-smoothing-type: gray;
    
}


.alert > *.label.content{
	
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12.0px;
    }
    

.alert:header .label{
	-fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 20.0px;
}